main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main .form {
    max-width: 1200px;
    min-width: 800px;
}